.Typist {
    display: inline !important;
}

h1 {
    font-family: "Gill Sans", sans-serif !important;
    margin-bottom: 20px !important;
    color: #FFFFFF !important;
}

footer a:hover, footer a:focus {
    color: #354A9F !important;
    text-decoration: none;
}

.logo {
    width: 60px;
    margin-bottom: -2px;
}

@media only screen and (max-width: 768px) {

    .typist-header {
        font-size: 32px !important;
    }

    h4 {
        font-size: 0.9rem;
    }

}

.brandName {
    font-family: "Gill Sans", sans-serif !important;
    font-size: 21px !important;
    font-weight: 400 !important;
    display: block;
}

.event-link {
    color: #FFFFFF !important;
}

.event-link:hover, .event-link:focus {
    color: #FFFFFF !important;
    text-decoration: underline !important;
}

.work-pills p {
    font-size: 16px !important;
    color: #999 !important;
}
