.Typist {
    display: inline !important;
}

h1 {
    font-family: "Gill Sans", sans-serif !important;
    margin-bottom: 20px !important;
    color: #FFFFFF !important;
}

footer a:hover, footer a:focus {
    color: #354A9F !important;
    text-decoration: none;
}

.logo {
    width: 60px;
    margin-bottom: -2px;
}

@media only screen and (max-width: 768px) {

    .typist-header {
        font-size: 32px !important;
    }

    .jss5 {
        margin: -60px 20px 0px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .jss236 h4 {
        font-size: 0.9rem;
    }

}

.brandName {
    font-family: "Gill Sans", sans-serif !important;
    font-size: 21px !important;
    font-weight: 400 !important;
    display: block;
}

.jss21 .brandName {
    display: none !important;
}

.jss356:hover {
    color: #354A9F;
}

.jss287 {
    margin-left: 10px !important;
}

.jss270 {
    padding-bottom: 30px !important;
}

.jss288 {
    padding: 30px 0 !important;
}

.jss311 {
    padding-top: 0px !important;
}

.jss315 {
    margin-left: 0px !important;
}

.MuiSvgIcon-root-155 {
    margin-left: 10px !important;
}

.event-link {
    color: #FFFFFF !important;
}

.event-link:hover, .event-link:focus {
    color: #FFFFFF !important;
    text-decoration: underline !important;
}

.work-pills p {
    font-size: 16px !important;
    color: #999 !important;
}
